* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('BackgroundSportify.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Container pentru întreaga aplicație */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1; 
  padding-top: 80px;
}

/* Pagina principala (Homepage) */
.content {
  width: 95%;
  max-width: 900px;
  padding: 20px;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: left;
}

.eventCard {
  display: flex;
  align-items: center;
  background-color: #1c2541;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;
  gap: 15px;
  width: 100%;
  cursor: pointer;
}

.eventCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.eventImage {
  width: 170px;
  height: 120px;
  border-radius: 8px;
}

.eventDetails {
  display: flex;
  flex-direction: column;
}

.eventTitle {
  font-size: 20px;
}


.eventTime {
  font-size: 14px;
  color: #9baec8;
}

.eventDetailsButton {
  font-size: 16px;
  color: #e63946;
  font-weight: bold;
  margin: 5px 0;
}

.eventLocation {
  font-size: 14px;
  color: #9baec8;
}

/* Paginarea */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pageButton {
  background-color: #1c2541;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pageButton:hover {
  background-color: #3a506b;
}

.form-container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
  max-width: 800px;
  min-width: max-content;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: rgb(241, 241, 241);
}

.navbar {
  background-color: #f3302d;
  color: #0a212e;
}

.navbar-brand {
  margin-left: 2.5rem;
  color: #0a212e;
}

.textForm {
  border-color: #f3302d;
  background-color: #0a212e;
  color: rgb(241, 241, 241);
}

.dropdownForm {
  background-color: #071b25;
  color: rgb(241, 241, 241);
  border-color: #f3302d;
}

.button {
  background-color: #f3302d;
  color: rgb(241, 241, 241);
  border-radius: 10px;
  border-color: #f3302d;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #ff4500;
  box-shadow: 0 0 8px rgba(255, 68, 0, 0.726);
  outline: none;
}

.textForm:focus,
.dropdownForm:focus {
  border-color: #f3302d;
  box-shadow: 0 0 8px rgba(255, 68, 0, 0.726);
  background-color: #071b25;
  color: rgb(241, 241, 241);
}

button:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(255, 68, 0, 0.747);
}

button:hover {
  background-color: #f3302d;
}

.delete-btn {
  background-color: white;
  border-color: white;
  color: black;
  border-radius: 15px;
}

.delete-btn:hover {
  background-color: rgb(221, 221, 221);
  border-color: white;
  color: black;
  border-radius: 15px;
}

input[type='file']:focus {
  border-color: #d6221f;
  box-shadow: none;
}

.participants {
  border-radius: 15px;
  width: max-content;
  padding: 5px;
  font-size: 10x;
}

.spinner {
  border-color: #f3302d;
  background-color: #0a212e;
  color: rgb(241, 241, 241);
  width: 5rem;
}

.btn-light,
.btn-dark,
.btn-outline-light,
.btn-outline-dark {
  background-color: #f3302d;
  border-color: #f3302d;
}
.btn-light:hover,
.btn-dark:hover,
.btn-outline-light:hover,
.btn-outline-dark:hover {
  background-color: #da2623;
  border-color: #da2623;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

.activePageButton {
  background-color: #e63946; /* Culoare activă */
  font-weight: bold;
}
